body {
    color: #d7d7d7;
    background: #000000 url("images/dk_grey_bg.jpg") repeat-x;
}

h1 em { color: #FFFFFF;
    font-style: italic;
}

/* Headlines */
h1, h2, h3, h4 {
    color: #C26413;
}

h1.title {
    margin-bottom: 10px;
    display: block;
}

/* Navigation and Accessability Links */
#skip-to {
    position: absolute;
    margin-left: -1000px;
}

#page {
    margin: 0;
}

/* Content */
#content {
    display: block;
    margin-left: 190px;
}

/* Sidebars */
#sidebar-left {
    display: block;
    margin: 0 10px 0 10px;
    width: 170px;
    float: left;
}
/* header */
#header {
    height: 50px;
    background-image: url("images/grey_vert_pinstripe.jpg");
    border-bottom: 1px solid #FFFFFF;
}
#header-inner {
    padding: 1em 2em;
}

#header-feedlink {
    float: right;
    display: block;
    width: 64px;
    height: 50px;
    margin-right: 1em;
    background-image: url("images/rss_wallbreak_64x64.png");
    text-indent: -9999px;
}

/* Navbar */
#navbar {
    background-color: #000000;
    border-bottom:1px solid #E1E1E1;
    display:block;
    position:absolute;
    width:100%;
}
#navbar ul
{
    border-left: 1px #E1E1E1 solid;
    padding-left: 0;
    margin: 0 4em;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    background-color: #000000;
}

#navbar ul li { display: inline; }

#navbar ul li a
{
    padding: 0.2em 1em;
    color: White;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}

#navbar ul li a:hover
{
    background-color: #369;
    color: #fff;
}

/* MAIN AREA */
#main {
    margin: 2.5em 1em;
}

/* Social Media Links */
#social_nav_horizontal {
    float: right;
}
#social_nav_horizontal strong {
    display: block;
    margin: 0;
    padding: 0;
}
#social_nav_horizontal ul {
    display: block;
    margin: 0;
    padding: 0;
}
#social_nav_horizontal ul li {
  float: left;
  list-style-type: none;
}
#social_nav_horizontal ul li a {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: .1em;
    text-indent: -9999px;
}

#social_nav_horizontal ul li a.facebook {
    background-image: url("images/social_icons16x16/facebook.png");
}
#social_nav_horizontal ul li a.twitter {
    background-image: url("images/social_icons16x16/twitter.png");
}
#social_nav_horizontal ul li a.stumbleupon {
    background-image: url("images/social_icons16x16/stumble.png");
}
#social_nav_horizontal ul li a.digg {
    background-image: url("images/social_icons16x16/digg.png");
}
#social_nav_horizontal ul li a.delicious {
    background-image: url("images/social_icons16x16/delicious.png");
}

/* Classes */
.post-brief {
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    background-color: #141212;
}

.post-title-brief {
    font-size: 130%;
    font-weight: bold;
}

.post-body-brief {
    margin: .5em 1.5em 0;
}

.post-title-brief a {
    
}

.post-meta {
    color: #993300;
}

.post-footer-brief {
    margin: .25em 0 .25em 0;
    color: #C26413;
}
.post-footer-brief em {
    color: #ffffff;
    font-style: italic;
}

a:link.readmore, a:visited.readmore {
    color: #cc3300;
}

.block {
    margin-bottom: 18px;
}