body {
    color: #d7d7d7;
    background: #0d0d0d url("images/dk_grey_bg.jpg") repeat-x;
}

h1 em { color: #FFFFFF;
    font-style: italic;
}

/* Headlines */
h1, h2, h3, h4 {
    color: #C26413;
}

h1.title {
    margin-bottom: 10px;
    display: block;
    color: #ffffff;
}

/* Navigation and Accessability Links */
#skip-to {
    position: absolute;
    margin-left: -9999px;
}

#page {
    margin: 0;
}

/* Content */
#content, #footer {
    display: block;
    margin-left: 200px;
}

#footer-inner {
    padding: 1em 1.5em;
    text-align: center;
}

/* Sidebars */
#sidebar-left {
    display: block;
    margin: 0 1em 0 0;
    width: 190px;
    float: left;
}
/* header */
#header {
    height: 50px;
    background-image: url("images/grey_vert_pinstripe.jpg");
    border-bottom: 1px solid #FFFFFF;
}
#header-inner {
    padding: 1em 2em;
}

#header-feedlink {
    float: right;
    display: block;
    width: 64px;
    height: 50px;
    margin-right: 1em;
    background-image: url("images/rss_wallbreak_64x64.png");
    text-indent: -9999px;
}

/* Navbar */
#navbar {
    background-color: #000000;
    border-bottom:1px solid #E1E1E1;
    display:block;
    position:absolute;
    width:100%;
}
#navbar ul
{
    border-left: 1px #E1E1E1 solid;
    padding-left: 0;
    margin: 0 4em;
    float: left;
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    background-color: #000000;
}

#navbar ul li { display: inline; }

#navbar ul li a
{
    padding: 0.2em 1em;
    color: White;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}

#navbar ul li a:hover
{
    background-color: #993300;
    color: #fff;
}

/* MAIN AREA */
#main {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-right: 1em;
    margin-left: 0em;
}

/* Social Media Links */
.social_nav {
    display: inline;
    float: right;
    width: 150px;
}

/* Classes */
.post-box {
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    background-color: #141212;
}

.post-title-brief {
    font-size: 130%;
    font-weight: bold;
}

.post-body-brief {
    margin: .5em 1.5em 0;
}

.post-meta {
    color: #C26413;
}
#post-detail .post-meta {
    margin-bottom: .75em;
}

.post-footer-brief, .post-footer {
    margin: .25em 0 .25em 0;
    color: #C26413;
}
.post-footer-brief em, .post-footer em {
    color: #ffffff;
    font-style: italic;
}

.block {
    margin-bottom: 1em;
    /*background-color: #0f0f0f;*/
    padding: .25em .5em .25em .5em ;
}

/* Forms */
.fieldWrapper {
    margin-bottom: 1em;
}

.fieldWrapper label {
    color: #C26413;
    font-size: 120%;
    font-weight: bold;
    display: block;
}

/* Tag Cloud Styles */
a.tag-1 { font-size: 0.9em; font-weight: 100; }
a.tag-2 { font-size: 1.0em; font-weight: 200; }
a.tag-3 { font-size: 1.1em; font-weight: 300; }
a.tag-4 { font-size: 1.2em; font-weight: 400; }
a.tag-5 { font-size: 1.3em; font-weight: 500; }
a.tag-6 { font-size: 1.4em; font-weight: 600; }
a.tag-7 { font-size: 1.5em; font-weight: 700; }
a.tag-8 { font-size: 1.6em; font-weight: 800; }
a.tag-9 { font-size: 1.7em; font-weight: 900; }
a.tag-10 { font-size: 1.8em; font-weight: 900; }

/*
Pagination Style Copied from:
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*512megas.com */
	div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
        background-color: #141212;
	}

	div.pagination a {
		border: 1px solid #dedfde;
		margin-right:3px;
		padding:2px 6px;
		background-position:bottom;
		text-decoration: none;
		color: #99210B;
	}
	div.pagination a:hover, div.pagination a:active {
		border: 1px solid #000;
		background-image:none;
		background-color:#777777;
		color: #fff;
	}
	div.pagination span.current {
		margin-right:3px;
		padding:2px 6px;
		font-weight: bold;
		color: #99210B;
	}
	div.pagination span.disabled {
		margin-right:3px;
		padding:2px 6px;
		color: #adaaad;
	}