body {
    font-family: arial, helvetica, sans-serif;
	background: #555;
	font-size:12px;
	line-height:1.5;
	color: #333333;
	margin:0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
h1 {font-size:18px;}
hr {display:none;}
a {color:blue;}
blockquote {
	border-left:2px solid #ddd;
	margin:0 0 0 5px;
	padding-left:5px;
}
ul, ol {
	margin-left: 20px;
}
p, li {
	margin: 0 0 10px;
}

/* classes */
.small {
	font-size:10px;
	line-height:2;
}
.hide {
	display: none;
}
.clear {
	clear: both;
	float: none;
}
div.tags {
    display: inline;
}
.post-body-brief {
    padding-left: 5px;
}
.post-title-brief a {
    font-size: 16px;
    font-weight: bold;
    color: #C26413;
}
.post-box {
    margin-bottom: 10px;
}
.post-meta {
    margin-left: 5px;
}

/* ID Areas */
#content {
	color: #333333;
    background: #ffffff;
	font-size: 1em;
	line-height: 1.5;
	padding:10px;
}
#content-header h1 {
    color: black;
}
#header {
	margin:0;
    font-size: 18px;
    font-weight: bold;
    background: black;
    padding: 5px 3px;
    color: #C26413;
}
#header em {
    color: white;
}

#alert, #message {
	background:#fffdc2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:10px 0;
	padding:10px;
}

/* Navbar */
#navbar {
    border-bottom:1px solid #cccccc;
    margin: 0;
    padding: 0;
    width:100%;
}
#navbar ul {
    border-left: 1px #E1E1E1 solid;
    background:#d5d5d5 url('mobile_images/tab.gif') repeat-x bottom;
    padding: 0;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    overflow: hidden;
}

#navbar ul li {
    background:#d5d5d5 url('mobile_images/tab.gif') repeat-x bottom;
    border-right: 1px solid #fff;
    float: left;
    list-style: none;
    padding: .25em 1.5em;
    margin: 0;
    text-align: center;
}

#navbar ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#footer {
	background:#555 url('mobile_images/footer-shadow.gif') repeat-x top;
	color:#999;
	padding:10px;
}
#footer a {color:#ddd;}